---
layout: default
---
<section class="about max-w-4xl mx-auto">
    <div class="text-center">
        <h1 class="text-5xl" id="page-title">
            About Me
        </h1>
    </div>
    <div class="flex flex-col justify-center p-2 gap-2 items-center">
        <div class="flex gap-1">
            <h1 class="text-center text-xl">Hi! I'm {{site.title}}</h1>
            <img class="emoji h-8" title=":wave:" alt=":wave:"
                src="https://github.githubassets.com/images/icons/emoji/unicode/1f44b.png">
        </div>
        <div class="p-3 flex-1 text-center max-w-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, adipisci eligendi cum nobis voluptatum
            delectus consectetur quisquam? Sit perferendis dicta tempore asperiores ex natus? Aperiam, odit rerum? Amet,
            labore ratione!
        </div>
        <div class="">
            <h5 class="text-center mt-3"><a href="../resume.pdf" target="_blank" class="text-blue-300 border py-1 px-4 rounded-full border-blue-300 hover:bg-sky-600/50 hover:text-gray-200">View Resume</a></h5>
        </div>
    </div>
</section>

<section class="pt-5">
    <h1 class="mt-3 text-center text-3xl font-[oswald]">Skills</h1>
    <ul class="flex gap-2 flex-wrap justify-center mt-2 bg-slate-700 p-2 rounded border-y-4 border-slate-900">
        <li class="max-w-xs p-2 bg-slate-800 rounded grow">
            <h5 class="text-2xl tracking-tight text-center mb-4 px-2 underline opacity-50">Frontend Development</h5>
            <div class="flex flex-wrap gap-2 justify-center">
                {% for tool in site.toolkit.frontend %}
                <div class="list-unstyled px-4 border border-gray-500">
                    {{tool}}
                </div>
                {% endfor %}
            </div>
        </li>
        <li class="max-w-xs p-2 bg-slate-800 rounded grow">
            <h5 class="text-2xl tracking-tight text-center mb-4 underline opacity-50 px-2">Backend Dev</h5>
            <div class="flex flex-wrap gap-2 justify-center">
                {% for tool in site.toolkit.backend %}
                <div class="list-unstyled px-4 border border-gray-500">
                    {{tool}}
                </div>
                {% endfor %}
            </div>
        </li>
        <li class="max-w-xs p-2 bg-slate-800 rounded grow">
            <h5 class="text-2xl tracking-tight text-center mb-4 underline opacity-50 px-2">UI UX Designing</h5>
            <div class="flex flex-wrap gap-2 justify-center">
                {% for tool in site.toolkit.designing %}
                <div class="list-unstyled px-4 border border-gray-500">
                    {{tool}}
                </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</section>

<section class="pt-5">
    <h1 class="mt-3 text-center text-3xl font-[oswald]">Get in Touch</h1>
    <div class="text-center pb-5 pt-2 justify-content-center mt-2">
        My email is <a href="mailto:{{site.email}}"
            class="text-blue-300 underline">{{site.email}}</a>.<br>You are most
        welcome to connect with me.
    </div>
</section>

<section class="text-center pt-5">
    <h1 class="text-3xl font-[oswald]">About the Site</h1>
    <p class="bg-slate-700 opacity-75 border-y-4 border-slate-900 p-2 max-w-2xl rounded mx-auto text-md mt-2">
        I have used Jekyll to generate this site, tailwindCSS and sass for styling and I have used a few plugins
        to make this site work.
        The website source is hosted on <a href="https://github.com/" target="_blank"
            class="text-blue-300">Github</a> and the site itself is deployed in <a href="https://www.cloudflare.com/"
            class="text-blue-300">cloudflare</a>.
    </p>
    <div class="text-center pt-5 mb-3 text-xs opacity-50">
        This site was created by <a href="https://rajan.works/" target="_blank" class="text-blue-300">Rajan
            Yadav</a> and was made using <a href="https://jekyllrb.com/" target="_blank"
            class="text-blue-300">Jekyll</a>.<br>
        This blog is licensed under the MIT License unless otherwise stated.
    </div>